* {
  box-sizing: border-box;
}

body {
  padding: 20px;
  color: rgb(106, 69, 52);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: rgb(193, 161, 138);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.break {
  margin-top: 25px;
}

.header__container {
  grid-area: header;
}

.header__title {
  margin-left: 15px;
  margin-bottom: 0;
}

.header__container .header__item {
  display: inline-block;
}

.hof__article {
  display: flex;
  flex-direction: column;
}

.hof__list {
  flex: 1;
}

.nav__container {
  grid-area: nav;
  background: rgb(106,69,52);
  position: fixed;
  top: 0;
  bottom: 0;
  width: 300px;
  left: -340px;
  transition: transform .3s ease-in-out;
  z-index: 1;
}

.toggleNav {
  transform: translateX(340px);
}

.toggle__close {
  color: rgb(254, 253, 253);
  padding: 20px;
}

.nav__list .nav__list-item {
  padding: 10px 20px;
  color: rgb(254, 253, 253);
}

.content {
  grid-area: content;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 25px;
}

.content__main,
.content__timeline {
  grid-column: span 4;
}

.content a {
  text-decoration: underline;
}

.footer__contianer {
  grid-area: footer;
}

.footer__link-list {
  padding: 1.5% 0;
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.footer__link-social {
  flex: 1;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 25px;
  grid-template-areas:
    "header"
    "content"
    "footer";
}

.carousel {
  width: 300px;
  margin: 0 auto;
}

.carousel-cell {
  width: 300px;
  background: #8C8;
  counter-increment: gallery-cell;
  margin-right: 1.1rem;
}

.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  font-size: 80px;
  color: white;
}

.flickity-page-dots {
  bottom: 35px!important;
}
.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
  border: 2px solid white;
}
.flickity-page-dots .dot.is-selected {
  background: white;
}

.flickity-prev-next-button {
  visibility: hidden;
}

@media only screen and (min-width : 1024px) {

  .carousel {
    width: 600px;
  }

  .carousel-cell {
    width: 600px;
  }

  .container {
    grid-template-columns: repeat(4, 1fr);
  }

  .container header,
  .container nav,
  .container main, 
  .container footer {
    grid-column: span 4;
  }

  .content {
    padding: 0 10%;
    grid-template-columns: repeat(4, 1fr);
  }

  .content__main {
    grid-column: span 3;
  }

  .content__timeline {
    grid-column: span 1;
  }

  .flickity-prev-next-button {
    visibility: visible;
  }

  .hof__article {
    flex-direction: row;
  }
}